/* Se corrige la sección logging-registry, sobre el aumento de tamaño
al pasar el cursos sobre el alemento
<!--Se transcribe el archivo que me envio Vane a Css3 y html 5, con mi propio estilo-->
Se implementa la página de registro de usuarios, quedando pendientes los svg de cada casilla
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
body{
    width: 100%;
    background-color: #000;
}

/*corresponde al splash-screen*/
.splash {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 68vh;
    margin: 0 auto;
    padding-top: 23%;
    background-image: linear-gradient(164deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%), linear-gradient(to bottom, red, yellow);
    text-align: center;
}

/*

*/

.splash section{
    margin-bottom: 4px;
}

.loge{
    width: 15%;
    background-color: #fff;
    border-radius: 20rem;
    padding: 3px;

}
.splash h1{
    display: inline;
    margin: auto;
    width: 20%;
    font-size: 2rem;
    font-weight: 900;
}

.splash h3{
    display: inline;
    width: 20%;
    margin: auto;
    color: rgb(81, 82, 82);
}

.splash section button{
    background-color: rgb(218, 112, 14);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
}

.splash section button:hover{
   background-color: rgb(218, 112, 14);
}

/*Corresponde al loggin or registry screen*/


.logging{
    background-color: #fff;
    flex-direction: column;
    width: 95vw;
    height: calc(95vh + 10px);
    margin: 0 auto;
    text-align: center;
    color: #fff;
}


.logging-header{
    display: flex;
    align-content: center;
    flex-direction: row;
    font-size: 2rem;
    margin: 10px auto;
    background-color:rgb(218, 112, 14);
    justify-content: flex-start;
}

.logging svg{
    margin: 1em auto 0em auto;
    width: 100%;
}

.logging-header a{
    width: 50px;
}

#loggingorregistry{
    margin: 1em auto 1em  ;
}

.logging h3{
    margin: 60px auto;
    font-size: 1rem;
    background-color:rgb(218, 112, 14);
    width: 45%;
    padding: 10px;

}

.logging-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.logging-buttons button{
    background-color: rgb(218, 112, 14);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 3vh;
    border: none;
    width: 50%;
}

.logging-buttons button:hover{
   background-color:#e7820d;
}

/* Sección de inicio de sesion */

.sing-in{
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1vh;   
}


.sing-in h1{
    font-size: 2em;
    margin-bottom: -.08em;
    margin-top: 15vh;
}

input{
    border: none;
    background-color: #efefef;
    margin-top: .5em;
    width: 70%;
    height: 3em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 750;
}

input:hover{
    background-color:  #d5f2fc;
}

input[type="submit"],button[type="submit"]{
    margin-top: 2%;
    border: none;
    background-color: #4f11df;
    color: #fff;
    margin-top: .5em;
    width: 70%;
    height: 3em;
    border-radius: 10px;
    font-weight: 750;
    font-size: 1em;
}

input[type="submit"]:hover{
    background-color: #622cdf ;
}

img[alt="flat-building"]{
    margin-top: 1vh;
    width: 35vw;
    height: 63vh;
}


/* Inicio de los estilos del registro de usuarios */
.registry{
    color: #807d7d;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 10%;
    padding-top: 5%;
}
input[type="date"]::before {
    content: attr(placeholder);
    color: #999;
}

.responsive-registry{
    background-color: #ffffff;
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

.logging-header svg{
    margin: 1em auto 0em auto;
    width: 100%;
}

.noinput{
    border: none;
    background-color: #efefef;
    margin-top: .5em;
    width: 70%;
    height: 3em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 750;
    color: #807d7d;
}

.responsive-registry main{
    display: flex;
    flex-direction: column;
}

.divphoneregistry{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: stretch;
    padding-left: 0em;
    margin: 0 auto;
}


.divphoneregistry section:nth-child(1){
    display: flex;
    width: 40%;
}

.divphoneregistry #lada{
    width: 90%;
}

.divphoneregistry section:nth-child(2){
    display: flex;
    width: 90%;
}

.divphoneregistry input[type="text"]{
    width: 100%;
}
